body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    color: #2e2e2e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #00796b;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1, footer p {
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
}
h2 {
  text-align: center;
  color:  #00796b;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.box {
    background-color: #ffffff;
    border: 2px solid #00796b;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
}
.plus-button {
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.content {
    display: none;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.results {
    text-align: center;
    padding: 20px;
}

.loading {
    display: none;
    color: #00796b;
    font-weight: bold;
}

#resultText {
    color: #00796b;
    font-weight: bold;
}

.text {
    padding: 20px;
    text-align: center;
}

.text h2 {
    color: #00796b;
}

.text p {
    color: #2e2e2e;
    line-height: 1.5;
}
 .text {
    background-color: silver;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    align-self: center;
}
 @keyframes loading {
    0% { content: 'Loading.'; }
    33% { content: 'Loading..'; }
    66% { content: 'Loading...'; }
    99% { content: 'Loading...';}
    100% { content: 'Loading.'; }
}